<!DOCTYPE html>
<html>
<head>
    <title>Gist browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>

<body ng-app="gist">
<div class="container" ng-view=""></div>
</body>
</html>
